/*Comentamos como en c*/

h1,
h4 {
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: initial;
  border-color: #D1F2EB;
}
h2,
h3,
span,
nav {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #D1F2EB;
}

h4 {
  font-size: 20px;
}
header {
  background: #48C9B0;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 3px solid black;
  border-color: #D1F2EB;
}
.padding-titulo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.margin-titulo {
  margin-bottom: 10px;
  margin-left: 1px;
  margin-top: 20px;
}

.sizenavegacion {
  font-size: 20px;
  text-align: center;
}
.destacar {
  color: white;
  font-size: 30px;
  background: #48C9B0;
  height: 40px;
  text-align-last: left;
  padding-left: 20px;
  border: 3px solid #D1F2EB;
}


h2:hover {
  background: #48C9B0;
}

/* NO VISITADO*/
a:link {
  text-decoration: none;
  color: black;
}

/* VISITADO*/
a:visited {
  text-decoration: none;
  color: black;
}

/* ACTIVO*/
a:active {
  text-decoration: none;
  color: black;
}

/* POSICIÓN MAUSE*/
a:hover {
  background: #48C9B0;
  text-decoration: none;
  font-size: 22px;
}
