/*Comentamos como en c*/

h1,
h4 {
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: initial;
}

h4 {
  font-size: 20px;
}
header {
  background: rgb(59, 2, 57);
  padding-top: 25px;
  padding-bottom: 25px;
}

.destacar {
  color: white;
  font-size: 30px;
  background-color: rgb(87, 16, 69);
  height: 40px;
  text-align-last: left;
  padding-left: 20px;
}
