.purple {
  background: purple;
}

.rebecca {
  background: rebeccapurple;
}

.icon {
  font-size: 72px;
}

.footer {
  background: whitesmoke;
}

.header {
  height: 40vh;
  background-image: url("../Images/blo.png");
}

.icono:hover {
  transform: scale(1.5);
  transition-duration: 400ms;
}

.frase {
  background: rgb(233, 183, 186, 0.8);
  height: auto;
}

.frase-texto {
  color: white;
  font-size: 25px;
  justify-content: center;
}

textarea {
  resize: none;
}

/* NO VISITADO*/
a:link {
  text-decoration: none;
  color: black;
}

/* VISITADO*/
a:visited {
  text-decoration: none;
  color: black;
}

/* ACTIVO*/
a:active {
  text-decoration: none;
  color: black;
}

/* POSICIÓN MAUSE*/
a:hover {
  color: rgb(233, 183, 186, 0.8);
  text-decoration: none;
  transform: scale(1.5);
  transition-duration: 400ms;
}

.foto {
  background: cornflowerblue;
  justify-content: flex-start;
}
